@import "@/assets/styles/variables.scss";

.bg-backdrop {
  background: $bg-backdrop;
}

.md-lg {
  width: 95%;

  @include breakpoint(md) {
    width: 40%;
  }
}

body.modal-open {
  overflow: hidden;
}

.status {
  min-width: 300px;
  max-width: 50%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}